/*=============================================
=            Header                           =
=============================================*/

.header {
  position: fixed;
  width: 100%;
  background: transparent;
  color: var(--white);
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.header.fixed {
  padding: 0.5rem 1rem;
  background: var(--primary-dark);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  z-index: 2;
}

/*=============================================
      =            Header - Logo                    =
      =============================================*/
#header__logo {
  font-size: 1.8rem;
  color: var(--white);
}

#header__logo img {
  width: 2.7rem;
}

#header__logo span {
  margin-left: -15px;
}

/*=============================================
      =            Header - Nav                     =
      =============================================*/

.header__nav-box {
  display: flex;
  font-weight: 400;
  flex: 0 0 60%;
}

.header__nav-list {
  margin: 0 1.5rem;
  transition: all 0.3s ease-in-out;
}

.header__nav-list:hover {
  color: var(--primary-color);
}

/*=============================================
      =            Header - Buttons            =
      =============================================*/
.header__buttons {
  display: flex;
  justify-content: space-between;
  flex: 0 0 25%;
}

.signup-btn,
.login-btn,
.categories-btn {
  background: transparent;
  color: var(--white);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.signup-btn a,
.login-btn a,
.categories-btn a {
  margin-left: 0.5rem;
}

.signup-btn:hover,
.login-btn:hover,
.categories-btn:hover {
  color: var(--primary-color);
}

/*=====  End of Header  ======*/

/*=============================================
      =            Banner                          =
      =============================================*/

#banner {
  position: relative;
  background: url(/assets/title-bg.jpg);
  min-height: 45vh;
  height: 45vh;
  padding-top: 7rem;
}

#banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 42, 53, 0.7);
}

.banner__container {
  position: relative;
  color: var(--white);
  align-items: center;
  margin-top: 5%;
}

.banner__container h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.banner__container .page__route {
  margin: 2rem 0;
  word-spacing: 0.8rem;
}

.page__route span {
  color: var(--primary-color);
  font-weight: bold;
}

/*=====  End of Banner  ======*/

/*=============================================
=            Section Contact            =
=============================================*/

#contact {
  padding: 5rem 0;
  background-color: #eef5fd;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__item {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.contact__icon {
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-right: 2rem;
}

/*=====  End of Section Contact  ======*/

#contact__form {
  text-align: center;
}

.contact__form__container {
  display: flex;
  justify-content: center;
}

.contact__left {
  padding: 5rem 0;
  flex: 0 0 50%;
  margin-right: 2rem;
}

.form {
  margin: 2rem auto;
  max-width: 50rem;
}

.form .row {
  display: flex;
  justify-content: center;
}

.form .row input:first-child {
  margin-right: 1rem;
}

.form input,
.form textarea {
  padding: 0.8rem 1rem;
  border: 1px solid var(--primary-color);
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.form textarea {
  resize: vertical;
}

.btn-primary {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  width: 100%;
  border: 3px solid var(--primary-color);
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-dark);
}

.contact__right {
  flex: 0 0 50%;
  width: 100%;
}

/*=============================================
=            Footer            =
=============================================*/
.footer {
  background-color: var(--primary-dark);
  color: var(--white);
}

.footer__container {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__description {
  padding: 0 2rem;
}

.footer__description > p {
  margin: 1rem 0;
}

.footer__links {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.footer__links .link {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}

.footer__links .link:hover {
  color: var(--primary-color);
}

.footer__links .link i {
  margin-right: 0.5rem;
}

.footer__contacts {
  width: 30rem;
  padding: 0 2rem;
}

.footer__contacts .footer__contact {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.footer__contacts .footer__contact i {
  margin-right: 0.5rem;
}

/*=====  End of Footer  ======*/

/*=============================================
      =            Section Copyright                =
      =============================================*/
.page__copyright {
  background: var(--secondary-dark);
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
}

/*=====  End of Section Copyright   ======*/
